@import "tailwindcss";
@theme {
    --color-main: #667eea;
    --color-accent: #764ba2;
    --color-dark-blue: #1a1a2e;
    --color-dark-gray: #0f0f0f;
}
@layer base {
    button {
        @apply cursor-pointer outline-0
    }
}
@layer components {
    .main-container {
        @apply w-full md:max-w-4xl lg:max-w-6xl xl:max-w-[1400px] mx-auto px-5 md:px-8
    }
    .section-container {
        @apply py-20 px-5 
    }
    .main-gradient {
        @apply bg-gradient-to-br from-main to-accent 
    }
    .dark-gradient {
        @apply bg-gradient-to-tr from-dark-gray to-dark-blue 
    }
    .dark-radial {
        @apply bg-radial-[ellipse_at_center] from-dark-blue to-dark-gray
    }
    .light-bg {
        @apply bg-gradient-to-tr from-[#667eea]/10 to-[#764ba2]/10;
    }
    .faded-gradient {
        @apply relative z-10 after:-z-10 after:w-full after:h-full after:content-[''] after:absolute after:top-0 after:left-0 after:opacity-0 hover:after:opacity-100 after:bg-gradient-to-br after:from-main after:to-accent duration-300 transition-all after:duration-300 after:transition-opacity
    }
    .text-gradient {
        @apply bg-clip-text text-transparent fill-transparent bg-gradient-to-r from-main to-accent
    }
    .main-btn {
        
    }
    .slider-btn {
        @apply bg-white/10 hover:bg-white/20 text-xs w-14 h-14 rounded-full flex justify-center items-center backdrop-blur-xs hover:backdrop-blur-sm border border-white/25 transform scale-105 transition-all duration-300
    }
    /* Nav */
    .nav-links a {
        @apply text-neutral-300  font-medium transform hover:translate-y-1 duration-300 transition-all relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-0.5 after:bg-gradient-to-l after:from-main after:to-accent after:duration-300 after:transition-all;
    }
    .nav-links a.active,
    .nav-links a:hover {
        @apply text-white after:w-full;
    }
    /* Heading Style */
    .main-heading h2 {
        @apply text-5xl font-bold text-center mb-5
    }
    .main-heading p {
        @apply text-xl text-white/80 text-center max-w-3/5 mx-auto mb-20;
    }
    .cubic-transition {
        @apply transition-all duration-500 ease-[cubic-bezier(0.68,-0.55,0.265,1.55)]
    }
}
